<a href="https://colab.research.google.com/github/ks-chauhan/StudentOutcomePredictor/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Drive mount to Load Dataset
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import OrdinalEncoder, StandardScaler
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import accuracy_score, classification_report, f1_score, precision_score, recall_score, confusion_matrix
from imblearn.over_sampling import SMOTE
import torch
from torch import nn
from torch.utils.data import TensorDataset, DataLoader
from tqdm.auto import tqdm

In [3]:
# Loading dataset
data_path = "/content/drive/MyDrive/Gradious_Assignments/Mini_Project_ML/gradious_ML_mini_project.csv"
df = pd.read_csv(data_path)

In [4]:
pd.set_option('display.max_columns', None)

In [5]:
# The values the given target can have
df['Outcome'].unique()

array(['Dropout', 'Graduate', 'Enrolled'], dtype=object)

In [6]:
df.head()

,Marital_Status_Code,Application_Method,Application_Sequence,Program_ID,Attendance_Type,Prior_Qualification_Code,Prior_Qualification_Score,Nationality_Code,Mother's_Education_Level,Father's_Education_Level,Mother's_Job_Category,Father's_Job_Category,Admission_Score,Student_Displacement_Flag,Special_Educational_Needs,Outstanding_Debts_Flag,Tuition_Fees_UpToDate_Flag,Gender_Code,Scholarship_Recipient_Flag,Enrollment_Age,International_Status,Credits_1st_Semester,Enrolled_1st_Semester,Evaluations_1st_Semester,Passed_1st_Semester,Grade_1st_Semester,No_Evaluations_1st_Semester,Credits_2nd_Semester,Enrolled_2nd_Semester,Evaluations_2nd_Semester,Passed_2nd_Semester,Grade_2nd_Semester,No_Evaluations_2nd_Semester,Local_Unemployment_Rate,Inflation_Rate,Regional_GDP,Outcome
0,1,17,5,171,1,1,122.0,1,19,12,5,9,127.3,1,0,0,1,1,0,20,0,0,0,0,0,0.000000,0,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,9254,1,1,160.0,1,1,3,3,3,142.5,1,0,0,0,1,0,19,0,0,6,6,6,14.000000,0,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,9070,1,1,122.0,1,37,37,9,9,124.8,1,0,0,0,1,0,19,0,0,6,0,0,0.000000,0,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,17,2,9773,1,1,122.0,1,38,37,5,3,119.6,1,0,0,1,0,0,20,0,0,6,8,6,13.428571,0,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,39,1,8014,0,1,100.0,1,37,38,9,9,141.5,0,0,0,1,0,0,45,0,0,6,9,5,12.333333,0,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate

In [7]:
# No null values
df.isna().sum()

Marital_Status_Code            0
Application_Method             0
Application_Sequence           0
Program_ID                     0
Attendance_Type                0
Prior_Qualification_Code       0
Prior_Qualification_Score      0
Nationality_Code               0
Mother's_Education_Level       0
Father's_Education_Level       0
Mother's_Job_Category          0
Father's_Job_Category          0
Admission_Score                0
Student_Displacement_Flag      0
Special_Educational_Needs      0
Outstanding_Debts_Flag         0
Tuition_Fees_UpToDate_Flag     0
Gender_Code                    0
Scholarship_Recipient_Flag     0
Enrollment_Age                 0
International_Status           0
Credits_1st_Semester           0
Enrolled_1st_Semester          0
Evaluations_1st_Semester       0
Passed_1st_Semester            0
Grade_1st_Semester             0
No_Evaluations_1st_Semester    0
Credits_2nd_Semester           0
Enrolled_2nd_Semester          0
Evaluations_2nd_Semester       0
Passed_2nd_Semester            0
Grade_2nd_Semester             0
No_Evaluations_2nd_Semester    0
Local_Unemployment_Rate        0
Inflation_Rate                 0
Regional_GDP                   0
Outcome                        0
dtype: int64